*{
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    width: 100%;
    background: #d4d4d4; 
}

header{
    width: 100%;
    background: rgb(0, 0, 70);
    color: #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding:24px;
}


.dp{
    width: 100px;
    border-radius: 50%;
    
}
/* .anim{
    opacity: 0;
    transform: translateX(-400px);
    transition: ease-in-out 1s;
}
.anim2{
    opacity: 0;
    transform: translateX(400px);
    transition: ease-in-out 1s;
}
.active{
    opacity: 1;
    transform: translateX(0px);
    scale: 1;
    transition: ease-in-out 0.5s;
}
.active2{
    opacity: 1;
    transform: translateX(0px);
    scale: 1;
    transition: ease-in-out 0.5s;
} */
.track{
    font-weight: normal;
}

.resume{
    line-height: 24px;
    display: flex;
    flex-flow: row;
    align-items: top;
    justify-content: center;
}

.resume div{
    margin: 10px 50px;
}

.left{
    display: flex;
    flex-flow: column;
    width: 60%;
    border-right: double 5px;
}
.info{
    display: flex;
    flex-flow: column;
}
.info div{
    margin: 4px 0;
}

.right{
    display: flex;
    flex-flow: column;
    width: 40%;
}

.section_head{
    color: rgb(0, 0, 70);
    margin: 20px;
    text-decoration: underline;
    text-decoration-style: double;
    word-wrap: nowrap;
}

.socials{
    display: flex;
    flex-flow: row;
    color: rgb(0, 0, 70);
}


.fas, .fab{
    margin: 5px;
}
table{
    border: solid 1px;
    table-layout: auto;
    width: 90%;
    max-width: 250px;
}

.table-head{
    font-weight: bold;
}
.resume_download{
    text-decoration: none;
    width: 300px;
    min-width: 150px;
    height: 44px;
    color: #ffffff;
    background: rgb(0,0,70);
    margin: 20px auto;
    text-align: center;
    padding: 10px 20px ;

}

/*****RESPONSIVENESS********/

/*******Tablet size*********/
@media screen and (max-width: 768px) {
    
    .resume div{
        margin: 20px 10px;
    }
    .resume_download{
        width: 250px;
    }
}

/********Mobile size ********/

@media screen and (max-width: 540px) {
    .left, .right{
        border: none;
        width: 100%;
    }

    header{
        font-size: 0.8em;
    }

    .resume{
        font-size: 0.8em;
        display: flex;
        flex-flow: column;
        align-items: left;
        justify-content: center;
    }
    .info{
        font-size: 1.2em;
    }
    .resume div{
        margin: 10px 10px;
    }
    .resume_download{
        width: 200px;
    }
}
