*{
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    width: 100%;
    background: #d4d4d4; 
}

header{
    width: 100%;
    background-color: rgb(0, 0, 70);
    color: #ffffff;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding:24px;
}

.dp{
    width: 100px;
    border-radius: 50%;
}

.track{
    font-weight: normal;
}

.resume{
    line-height: 24px;
    display: flex;
    flex-flow: row;
    align-items: top;
    justify-content: center;
}

.resume div{
    margin: 50px 50px;
}

.left{
    width: 60%;
    border-right: double 5px;
}

.info div{
    margin: 10px 0;
}

.right{
    width: 40%;
}

.section_head{
    color: rgb(0, 0, 70);
    margin: 20px;
    text-decoration: underline;
    text-decoration-style: double;
}

.socials{
    display: flex;
    flex-flow: row;
}

.fas, .fab{
    margin: 5px;
}
table{
    border: solid 1px;
    table-layout: auto;
    width: 90%;
    max-width: 250px;
}

.table-head{
    font-weight: bold;
}


/*****RESPONSIVENESS********/

/*******Tablet size*********/
@media screen and (max-width: 768px) {
    
    .resume div{
        margin: 20px 10px;
    }
}

/********Mobile size ********/

@media screen and (max-width: 540px) {
    .left, .right{
        border: none;
        width: 100%;
    }

    header{
        font-size: 0.8em;
    }

    .resume{
        font-size: 0.8em;
        display: flex;
        flex-flow: column;
        align-items: left;
        justify-content: left;
    }

    .resume div{
        margin: 20px 10px;
    }
}
